@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

::selection {
  background: #ff0000;
  color: #ffffff;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0.1rem solid #dc2626;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 0;
}
